//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;

$z-fixed-menu: 100;

@function rem($px) {
  @return $px / 16px + 0rem;
}

// resolutions

$phones: 480px;
$tablets: 768px;

// media
@import "_misc/media";

// // setup
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";

// blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/btn";
@import "blocks/promo";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/fixed-menu";
@import "blocks/about.scss";
@import "blocks/team.scss";
@import "blocks/delivery.scss";
@import "blocks/map.scss";
@import "blocks/work.scss";
@import "blocks/map.scss";
@import "blocks/burgers";
@import "blocks/menu";
@import "blocks/footer";
