.delivery {
  background-image: url("/img/bg/delivery.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.delivery__title {
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  line-height: 64.05px;
  color: $yellow;
  @include gagalin();
}
