.fixed-menu {
  position: fixed;
  top: rem(100px);
  right: rem(50px);
  z-index: 2;
  list-style: none;
}

.fixed-menu__dot {
  display: block;
  height: rem(15px);
  width: rem(15px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  margin-bottom: rem(3px);
  position: relative;

  &--activ {
    border-color: $white;
  }

  &:before {
    content: "";
    width: rem(6px);
    height: rem(6px);
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(50%, -50%);
  }
}
