.menu {
  background-image: url("/img/bg/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.menu__title {
  position: absolute;
  top: rem(110px);
  left: rem(75px);
  color: $white;
  font-weight: 400;
}

.menu-accordeon {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.menu-accordeon__list {
  color: $white;
  font-size: rem(16px);
  display: flex;
  height: 100%;
}
.menu-accordeon__item {
  height: 100%;
  display: flex;
}
.menu-accordeon__triger {
  cursor: pointer;
  display: inline-block;
  min-width: rem(80px);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  &:first-child {
    background-image: url(../../img/bg/triger-diet.jpg);
  }
  &:nth-child(2) {
    background-image: url(../img/bg/triger-diet.jpg);
  }
  &:nth-child(3) {
    background-image: url(../img/bg/triger-meat.jpg);
  }

  &--active .menu-accordeon__triger-text {
    color: $yellow;
  }
  &--active + .menu-accordeon__content {
    width: rem(550px);
    background-color: rgba(59, 57, 54, 0.93);
  }
}

.menu-accordeon__triger-text {
  display: block;
  font-size: rem(40px);
  color: $white;
  position: absolute;
  // font-family: "gagalin", Helvetica, sans-serif;
  @include gagalin();
  top: 90%;
  left: 50%;
  transform: rotate(-90deg);
  white-space: nowrap;
  transform-origin: 0 50%;
}

.menu-accordeon__content {
  width: 0;
  line-height: 1.7;
  overflow: hidden;
  z-index: 2;
}

.menu-accordeon__text {
  padding: rem(70px) rem(40px);
  @include gagalin();
  transition: color 0.5s, padding 0.5s;
}
// .menu-accordeon__text:hover {
//   color: red;
//   padding: 10px;
// }
