.promo {
  background-image: url("/img/bg/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.promo__container {
  height: 100%;
  display: flex;
}

.promo__content {
  display: flex;
  margin-top: 7.25rem;

  @include tablets {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }
}

.promo__title {
  display: flex;
  flex-direction: column;
  font-weight: 400;

  @include tablets {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
}

.promo__subtitle {
  @include lifehack();
  margin-top: rem(20px);
  font-size: rem(56px);
  color: $white;
  line-height: 1;

  @include tablets {
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
}

.promo__scroll-btn {
  width: rem(29px);
  height: rem(18px);
  background-image: url(../../img/icons/arrow-scroll.svg);
  display: block;
  position: absolute;
  bottom: rem(30px);
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}
