.work {
  background-image: url("/img/bg/work.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.work__title {
  text-align: center;
  font-size: rem(72px);
  font-weight: 400;
  line-height: rem(64.05px);
  color: #2f3234;
  @include gagalin();
}

.work__container {
  display: flex;
  flex-direction: column;
}

.video {
  display: flex;
  justify-content: center;
}
